#navbar{
    background-color: black;
    color: aliceblue;
}

#logo{
   
    color: orange;
}

*{
margin:0px ;
padding: 0px;
}

button{
    color: white;
    background-color: orange;
}
a{
    color: antiquewhite;
    margin-right: 200px;
    text-decoration: none;
}